<h1>Welcome to the Wall</h1>

<div class="user_form">
  <h2>Register</h2>
  <% if flash[:errors]!=nil %>
    <%  flash[:errors].each do |error| %>
    <p class="error"><%= error %></p>
    <% end %>
  <% end %>
  <form action='/register' method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <label>First Name:<input type='text' name='user[first_name]' /></label>
    <label>Last Name:<input type='text' name='user[last_name]' /></label>
    <label>Email:<input type='text' name='user[email]' /></label>
    <label>Password:<input type='password' name='user[password]' /></label>
    <label>Confirm password:<input type='password' name='user[password_confirmation]' /></label>
    <input type='submit' value='Register' />
  </form>
</div>

<div class="user_form">
  <h2>Sign in</h2>
  <% if flash[:log_errors] %>
    <p class="error"><%= flash[:log_errors] %></p>
  <% end %>
  <form action='/login' method='post'>
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <label>Email:<input type='text' name='user[email]' /></label>
    <label>Password:<input type='password' name='user[password]' /></label>
    <input type='submit' value='Log in' />
  </form>
</div>
