<h1>Surveys#index</h1>
<p>Find me in app/views/surveys/index.html.erb</p>
<form action="/surveys/result" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Your Name:<input type='text' name='survey[name]' /></label>
  <label>Dojo Location:
    <select name="survey[location]">
      <option value="Mountain View">Mountain View</option>
      <option value="Seattle">Seattle</option>
      <option value="New York">New York</option>
      <option value="Boise">Boise</option>
    </select>
  </label>
  <label>Favorite Language:
    <select name="survey[language]">
      <option value="Javascript">Javascript</option>
      <option value="Ruby">Ruby</option>
      <option value="C#">C#</option>
      <option value="Esperanto">Esperanto</option>
    </select>
  </label>
  <label>Comment:<input type='text' name='survey[comment]' /></label>
  <input type='submit' value='Submit' />

</form>
