// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
  font-family: 'helvetica neue', arial, verdana, sans-serif
}
form, h1, p{
  padding: 10px;
}
form label{
  display: block;
  padding: 5px 0px;
}
form input{
  display: block;
  margin: 5px 0px;
  width: 200px;
}
.destroy {
  background-color: white;
  display: inline;
  border: white;
  padding: 0px;
}
td{
  margin: 5px 5px;
  padding: 10px;
}

.user_form {
  border: 1px solid gray;
  display: inline-block;
  width: 300px;
  padding: 10px;
  vertical-align: top;
}
.error{
  background-color: lightgray;
  color: red;
}
.comment{
  color: blue;
  margin-left: 10px;
}
