<h1>Create a new user</h1>
<p>Enter your name below to create a new user.</p>

<form action='/users/' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <input type='text' name='name' />
  <input type='submit' value='Create' />
</form>
