/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
 font-family: 'helvetica neue', arial, verdana, sans-serif;
}
p, li{
  font-size: 12px;
  line-height: 1.5;
}
h1, h2, h3, h4{
  color: dodgerblue;
}
h4{
  margin-top: 10px;
}
.container{
  width: 1000px;
  margin: 10px;
  padding: 10px;
}
.header_menu ul {
  border-left: 1px solid dimgray;
  border-right: 1px solid dimgray;
  border-bottom: 1px solid dimgray;
  margin-left: 550px;
  display: inline-block;
  background-color: lightgray;
  padding-bottom: 5px;
  margin-top: 0px;
}
  .header_menu ul li{
    text-decoration: none;
    display: inline-block;
    padding: 0px 10px;
    border-right: 1px solid dimgray;
    font-size: 10px;
  }
  .header_menu a {
    text-decoration: none;
    color: dimgray;
  }
  .header_menu p{
    display: inline-block;
    width: 50px;
    color: white;
    font-size: 12px;
    background-color:dodgerblue;
    padding: 5px 8px;
    border: 1px solid blue;
    margin-left: 10px;
  }
.logo_section{
  display: inline-block;
  height: 60px;
}
.logo_section img{
  width: 67px;
  display: inline-block;
}
.logo_section h1{
  width: 100px;
  display: inline-block;
  /*margin-left:10px;*/
  padding: 10px;
  vertical-align: top;
}
.logo_section h2{

}
#word{color: dimgray;}
.stream{color: dodgerblue;}
.logo_tagline{
  padding: 10px;
  background-color:dodgerblue;
  color: white;
  width: 990px;
}

.sidebar{
  padding: 10px;
  margin: 75px 0px 0px 0px;
  display: inline-block;
  width: 225px;
  border: 1px solid blue;
}
.main_content{
  display: inline-block;
  width: 700px;
  vertical-align: top;
  margin: 20px;
}
.main_home{
  display: inline-block;
  width: 100px;
}
.main_home p{
  display: inline-block;
  width: 20px;
  vertical-align: top;
  font-size: 14px;
}
.main_call{
  display: inline-block;
  vertical-align: top;
  width:300px;
  margin-left: 295px;
}
  .main_call img{
    display: inline-block;
    width: 22px;
    vertical-align: top;
  }
  .main_call_text{
    display: inline-block;
    width: 250px;
    color: dimgray;
  }
  .main_call_text p{
    line-height: normal;
  }
.content {
  border-top: 1px solid gray;
}
.content h3{
  padding: 10px 0px;
}
.content p{
  padding: 10px 0px;
}
.content ul li{
  padding-left: 10px;
  list-style: square outside;
}
.phone_number{
  font-size: 20px;
  color: lightskyblue;
}
.content_ad{
  border: 5px solid deepskyblue;
  /*height: 60px;*/
  /*margin: 10px, 0px;*/
}
.content_ad img{
  vertical-align: top;
  display: inline-block;
  width: 80px;
}
.content_ad_text{
  display: inline-block;
  width: 580px;
  padding: 0px 5px;
}
.content_ad p{
  font-size: 14px;
}
#clickme{
  display: inline-block;
  width: 130px;
  padding: 5px 10px;
  background-color: yellowgreen;
  color: white;
  margin-bottom: 3px;
  border: 1px solid olivedrab;
}
