// Place all the styles related to the Rpg controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
*{
    font-family: 'helvetica neue', arial, verdana, sans-serif;
}

.place_container {
  border: solid blue 1px;
  color: blue;
  display: inline-block;
  width: 200px;
  height: 200px;
  padding: 10px;
}
