<h1>Please fill out the following survey</h1>
<p>Several times, if you want.</p>

<form action='/surveys/' method='post'>
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <label>Your Name:<input type='text' name='survey[name]' /></label>
  <label >Dojo Location:
  <select name='survey[location]'>
     <option value="mountain_view">Mountain View</option>
     <option value="seattle">Seattle</option>
     <option value="san_fran">San Francisco</option>
     <option value="chicago">Chicago</option>
  </select></label>
  <label name=>
  <select name='survey[language]'>
     <option value="js">JavaScript</option>
     <option value="ror">Ruby on Rails</option>
     <option value="csharp">C#</option>
     <option value="swift">Swift</option>
  </select></label>
  <label>Comment (optional):<input type='textarea' name='survey[comment]' /></label>
  <input type='submit' value='Create' />
</form>
